<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Var</th>
      <th>Pipe</th>
      <th>Result</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ text }} </td>
        <td> uppecase </td>
        <td> {{ text | uppercase }} </td>
      </tr>
      <tr>
        <td> {{ text }} </td>
        <td> lowercase </td>
        <td> {{ text | lowercase }} </td>
      </tr>
      <tr>
        <td> {{ text }} </td>
        <td> slice (3) </td>
        <td> {{ text | slice:3 }} </td>
      </tr>
      <tr>
        <td> {{ text }} </td>
        <td> slice (0:5) </td>
        <td> {{ text | slice:0:5 }} </td>
      </tr>
      <tr>
        <td> {{ array }} </td>
        <td> slice (in array) </td>
        <td> {{ array | slice:2:5 }} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number (1.3-5) </td>
        <td> {{ PI | number:'1.3-5' }} </td>
      </tr>
      <tr>
        <td> {{ number }} </td>
        <td> percent </td>
        <td> {{ number | percent }} </td>
      </tr>
      <tr>
        <td> {{ number }} </td>
        <td> percent (2.2-2) </td>
        <td> {{ number | percent:'2.2-2' }} </td>
      </tr>
      <tr>
        <td> {{ currency }} </td>
        <td> currency </td>
        <td> {{ currency | currency }} </td>
      </tr>
      <tr>
        <td> {{ currency }} </td>
        <td> currency (EUR) </td>
        <td> {{ currency | currency:'EUR' }} </td>
      </tr>
      <tr>
        <td> {{ currency }} </td>
        <td> currency (EUR:false) </td>
        <td> {{ currency | currency:'EUR':false }} </td>
      </tr>
      <tr>
        <td> {{ currency }} </td>
        <td> currency (EUR:true:4.0-0) </td>
        <td> {{ currency | currency:'EUR':true:'4.0-0' }} </td>
      </tr>
      <tr>
        <td> {{ promiseValue }} </td>
        <td> async </td>
        <td> {{ promiseValue | async }} </td>
      </tr>
      <tr>
        <td> {{ date }} </td>
        <td> date </td>
        <td> {{ date | date }} </td>
      </tr>
      <tr>
        <td> {{ date }} </td>
        <td> date(medium) </td>
        <td> {{ date | date:'medium' }} </td>
      </tr>
      <tr>
        <td> {{ date }} </td>
        <td> date(MMMM - dd) </td>
        <td> {{ date | date:'MMMM - dd' }} </td>
      </tr>
      <tr>
        <td> {{ text2 }} </td>
        <td> capitalize </td>
        <td> {{ text2 | capitalize }} </td>
      </tr>
      <tr>
        <td> {{ password }} </td>
        <td>
          password ({{ enable }})
          <br>
          <button (click)="enable = !enable" type="button" class="btn btn-outline-primary">Enable / Disable</button>
        </td>
        <td *ngIf="enable"> {{ password | password:'enable' }} </td>
        <td *ngIf="!enable"> {{ password | password:'disable' }} </td>
      </tr>
    </tbody>
  </table>

  <h4>Slice (5:20)</h4>
  <ul>
    <li *ngFor="let item of array | slice:5:20">
      {{ item }}
    </li>
  </ul>

  <h4>JSON</h4>
  <pre>
    {{ heroe | json }}
  </pre>

  <h4>Youtube <small>video</small></h4>
  <hr>
  <iframe width="560" height="315" [src]="video | safeDom:'https://www.youtube.com/embed/'"></iframe>

  <br><br>

</div>
